# Godot 4+ specific ignores
.godot/
/android/

# Godot temp/lock files
*.tmp

# Compiled binaries (build outputs)
bin/*.dll
bin/~*


.claude
export_presets.cfg
build/windows/pokemon-pet-debug.exe
build/windows/desktop_icons.windows.template_debug.x86_64.dll
build.zip
build/